*{
    box-sizing: border-box;
  }


  
  html,
  body
   {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: sans-serif;
    background-color: #f9fbfd;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

  header {
    text-align: left;
    padding: 10px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
    font-size: small;
  }
  
  h1:hover {
    color: #9B36F7;
    
  }

  #startBtn {
    background-color: #9B36F7;
    color: black;
    text-align: center;
    font-weight: 800;
    border: black solid 4px;
    opacity: 0.8;
  }
  
  #startBtn:hover {
    opacity: 1;
  }

  @media screen and(min-width: 992px){
    .card-body {
        flex: 0 0 50%;
        max-width: 50%;
    }
  }
  
  @media screen and(min-width: 768px){
    .card-body .card-footer .header {
        flex: 0 0 96%;
        max-width: 96%;
    }
  }
  
  @media screen and(min-width: 562px){
    .card-body .card-footer .header {
        flex: 0 0 96%;
        max-width: 96%;
    }
  }