*{
    box-sizing: border-box;
  }

  :root {
    --offWhite:  #f9fbfd;
    --primary:  hsl(206, 17%, 28%);
    --black: black;
    --accent: #9B36F7;
  }

  
  html,
  body
   {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: sans-serif;
    background-color: var(--offWhite);
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .row {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.dummy {
  width: 25vw;
  padding-top: 50px;
  left: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

  header {
    text-align: left;
    padding: 10px;
    padding-top: 0px;
    color: var(--primary);
    font-size: small;
  }

  .card {
    text-align: center;
    border: 5px;
    border-color: var(--accent);
    border-radius: 20%;
  }

  .ansList {
    font-weight: bold;
    text-align: center;
  }

  .ansList li{
    padding-bottom: 10px;
  }
  
  h1:hover {
    color: var(--accent);
    
  }

  #startBtn {
    background-color: var(--accent);
    color: var(--black);
    text-align: center;
    font-weight: 800;
    border: var(--black) solid 4px;
    opacity: 0.8;
  }
  
  #startBtn:hover {
    opacity: 1;
  }

  button:hover {
    color: var(--accent);
  }

/* #Q {
  color: black;
  font-size: x-large;
} */


  @media screen and(min-width: 992px){
    .card-body {
        flex: 0 0 50%;
        max-width: 50%;
    }
  }
  
  @media screen and(min-width: 768px){
    .card-body .card-footer .header {
        flex: 0 0 96%;
        max-width: 96%;
    }
  }
  
  @media screen and(min-width: 562px){
    .card-body .card-footer .header {
        flex: 0 0 96%;
        max-width: 96%;
    }
  }